.footer-black {

  height: 70px;

  border: solid 1px #707070;

  background-color: #212121;

}

.navbar-text {

  width: 263px;

  height: 23px;

  font-family: Arial;

  font-size: 20px;

  font-weight: bold;

  font-style: normal;

  font-stretch: normal;

  line-height: 1.13;

  letter-spacing: normal;

  text-align: left;

  color: #ffffff;

}

.spion-logo {

  width: 185px;

  height: 24px;

  object-fit: contain;

  color: white;

}

