{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="container-fluid">
                <p class="title-article" style="font-size: 70px; font-weight: bold; line-height: 1.13; margin-top: 300px;">Social Media</p>
                <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Facebook's privacy policies reinforce the message that "you have control over who sees what you share on Facebook." But if you use Facebook at all, you don't have much control over what Facebook itself sees about you.</p>
                   <button type="button" class="btn btn-lg" style="background-color: #161c89; color: white; font-size:18px; width: 200px; height: 50px; margin-top: 50px;">Learn more</button>
               </div>
            </div>
            <div class="col-6, img-css">
                <img class="float-right img-fluid rounded mx-auto" src="static/img/virtual-ass.jpg" style=  "width: 960px;

  height: 993px;">
            </div>
          <div class="container-fluid ">
            <div class="card" style="margin-top: 100px; margin-bottom: 100px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">Who controls our data?</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">The EU has had a data-protection directive since 1995, <br> yet studies have repeatedly shown
that its rights <br>weren't well-enforced. The GDPR has been law since <br>2016, yet it only grew
teeth this May, with companies <br>now open to fines of up to 4 percent of global annual<br> revenue. Especially big companies still collecting user <br>data by their social media, it could use
for business<br> analysis or even give to third party.
</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/whatalexa.svg" style=" margin-top: -200px; margin-left: 600px;">
                <!-- </div> -->
              </div>
            </div>
          </div>




          <div class="container-fluid ">
            <div class="card" style="margin-top: 0px; margin-bottom: 100px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">People can find our information<br> without knowing us</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Through FB, IG, Twitter we’ve already posted on, people<br> might be able to find our past and now. Or friends may<br> put us at risk on social networks, even if we decide to <br>delete our social media account, our profile is still<br> “encoded” in previous interactions with our friends. <br>Our friends are leaving telltale clues about us, what we like, and even how we<br> are likely to vote in any election.</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/goodaboutalexa.svg" style=" margin-top:-200px; margin-left: 420px;">
                <!-- </div> -->
              </div>
            </div>
          </div>

        </div>
      </div>

{% include "footer.html" %}
{% endblock %}
