{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/css/header.css">

<nav class="navbar, blue-bar">
    <div class="container-fluid">
         <div class="row">
        <div class="col-8" style="margin-top:10px;">
    <img src="static/img/spion-1.svg" class="spion-logo, navbar-brand">
</div>
    <div class="col-2" style="margin-top:10px;">
    <a class="nav-link, navbar-text" href="social_media.html">social_media</a>
</div>
        <div class="col-2" style="margin-top:10px;">
    <a class="nav-link, navbar-text" href="assistants.html">assistants</a>
        </div>
    </div>
    </div>
</nav>
{% endblock %}