{% include "header.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<div class="container-fluid m-0">
  <div class="row">
    <div class="col-6 m-0" style="padding-left:70px;">
      <div class="site-title">
	Keep your data<br />
	private keep your<br />
	data private
      </div>
      <div class="site-subtitle">
	Keep your data privatek eep your<br />
	data private Keep your data privatek eep<br />
	your data private
      </div>
      <div class="top-boxes">
	<div class="box d-inline-block pt-4 pb-2 mr-4 mt-4">
	  <img src="/static/img/ps.icon.svg" style="width:50px;" />
	  <div class="mt-2">personal assistant</div>
	</div>
	<div class="box d-inline-block pt-4 pb-2 mr-4 mt-4">
	  <img src="/static/img/sm.icon.svg" style="width:50px;" />
	  <div class="mt-2">social media</div>
	</div>
      </div>
    </div>
    <div class="col-6 m-0">
      <img src="/static/img/franck-v-n56WptG3O9M-unsplash.jpg" / style="width:100%;">
    </div>
    <div class="col-6 cookie">
    </div>
    <div class="col-6 cookie p-2 text-white text-center">
      <div class="d-inline-block">
	<div class="d-table-row" style="vertical-align:middle;">
	  <div class="d-table-cell pr-5" style="vertical-align:middle;font-size:18px;">This website uses cookies!</div>
	  <div class="text-center d-table-cell ml-5" style="vertical-align:middle;"><div class="btn" style="padding:5px 60px;background-color:#9ffdd9;">Accept</div><div class="info small">Information</div></div>
	</div>
      </div>
    </div>
    <div class="col-12">
      <div class="page-title" style="font-size:40px;font-weight:bold;margin-top:60px;margin-left:70px;">Cookies, yum?</div>
      <div class="page-subtitle" style="font-size:18px;font-weight:bold;margin-bottom:100px;margin-top:15px;line-height:120%;margin-left:70px;margin-right:70px;">Wait a second… Why have you clicked on “Accept”? Believe it or not, but you have just given us permission to track your online behavior and create your personal activity profile.</div>
      <div style="margin:70px">
	<div class="page-box" style="width:100%;height:300px;border-radius: 30px;box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);overflow:hidden;">

	</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% include "footer.html" %}
