{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <p class="title-article">Social Media</p>
                <p>As the amount of big data expands
                   exponentially, nearly all of it carries 
                   someone’s digital fingrprints. The 
                   internet knows it all. </p>
            </div>
            <div class="col-6, img-css">
                <img src="static/img/social_media_smartphone.png" style="width: 960px; height: 993px;">
            </div>
        </div>
    </div>
{% include "footer.html" %}
{% endblock %}
