{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div class="container-fluid">
                <p class="title-article" style="font-size: 70px; font-weight: bold; line-height: 1.13; margin-top: 300px;">Social Media</p>
                <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">As the amount of big data expands<br>
                   exponentially, nearly all of it carries<br>
                   someone’s digital fingrprints. The <br>
                   internet knows it all. <br></p>
                   <button type="button" class="btn btn-lg" style="background-color: #161c89; color: white; font-size:18px; width: 200px; height: 50px; margin-top: 50px;">Learn more</button>
               </div>
            </div>
            <div class="col-6, img-css">
                <img class="float-right img-fluid rounded mx-auto" src="static/img/social_media_smartphone.png">
            </div>
          <div class="container-fluid ">
            <div class="card" style="margin-top: 100px; margin-bottom: 20px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">Follow what you do on Facebook!</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">The company has near-total awareness of every move<br> you make on its website or in its apps.</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/facebook.svg" style="margin-left: 600px;">
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="container-fluid ">
            <div class="card" style="margin-top: 100px; margin-bottom: 20px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">Following what you say on Facebook Messenger</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Facebook does scan your chat messages, but it isn't exactly reading them — it runs<br> an automated scan for child pornography and other banned content.</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/facebook.svg" style="margin-left: 350px;">
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="container-fluid ">
            <div class="card" style="margin-top: 100px; margin-bottom: 20px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">Following you outside Facebook</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Facebook sees you less thoroughly outside its own <br>digital turf, but it still sees a lot. This data comes from<br> two places: partner services and third-party information<br> brokers.<p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/facebook.svg" style="margin-left: 600px;">
                <!-- </div> -->
              </div>
            </div>
          </div>


          <div class="container-fluid ">
            <div class="card" style="margin-top: 100px; margin-bottom: 100px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">What Facebook does with all this data
</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Facebook says, emphatically, that it doesn't sell your information.
</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/facebook.svg" style="margin-left: 500px;">
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="container-fluid ">
            <div class="card" style="margin-top: 00px; margin-bottom: 200px; -webkit-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              -moz-box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);
              box-shadow: 10px 10px 52px -19px rgba(0,0,0,0.75);">
              <div class="card-body rounded" style="border-radius: 25px; margin: 50px 50px;">
                <div class="d-inline-block" style="border-radius: 25px;">
                  <p class="title-article" style="font-size: 35px; font-weight: bold; line-height: 1.13; ">The bottom line</p>
                  <p class="article, text-left" style="font-size: 20px; font-weight: bold; line-height: 1.13; margin-top: 50px;">Facebook's privacy policies reinforce the message<br> that "you have control over who sees what you<br> share on Facebook." But if you use Facebook at all,<br> you don't have much control over what Facebook<br> itself sees about you.</p>
              </div>
                <!-- <div class="col-2"> -->
                    <img class="d-inline-block" src="static/img/facebook.svg" style="margin-left: 600px;">
                <!-- </div> -->
              </div>
            </div>
          </div>
          
        </div>
    </div>
{% include "footer.html" %}
{% endblock %}
